body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* Successful Purchase css */

.modal {
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    z-index: 100;
    display: none;
}

.modal-content {
    background-color: white;
    position: relative;
    font-family: Tahoma;
    width: 50%;
    height: 50vh;
    margin: 4% auto;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.time {
    color: white;
    float: right;
    font-size: 4rem;
    cursor: pointer;
}

.Cart-Container {
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}

.Header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading {
    font-size: 20px;
    font-family: Tahoma;
    font-weight: 700;
    color: #2F3841;
}

.Action {
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
}

.about {
    width: 50%;
}

.title {
    padding-top: 5px;
    font-family: Tahoma;
    color: #202020;
}

.subtitle {
    line-height: 10px;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
}

.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 90vh;
    bottom: 18vh;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.count {
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
}

.prices {
    height: 100%;
    text-align: right;
    position: relative;
    right: 50px;
    bottom: 30vh;
}

.amount {
    padding-top: 20px;
    font-size: 26px;
    font-family: Tahoma;
    font-weight: 800;
    color: #202020;
}

.save {
    padding-top: 5px;
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
}

.remove {
    padding-top: 5px;
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

hr {
    width: 66%;
    float: right;
    margin-right: 5%;
}

.checkout {
    float: right;
    margin-right: 5%;
    width: 28%;
    position: relative;
    bottom: 80vh;
} 

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Tahoma;
}

.Subtotal {
    font-size: 22px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    font-size: 36px;
    font-family: Tahoma;
    font-weight: 900;
    color: #202020;
}

.button {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Tahoma;
    font-weight: 600;
    color: #202020;
}